HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified
STRIPE_SECRET_KEY=sk_test_51N6uJ2KaeKgOLqYHa2I0OeNCLpWIwzRCcDuvwn3wSh4voTCTwk7do5asdPZihDoq0Ty7IsVd89wKvZqVWzfkNeI2005iwJ43yX
